body {
  background-color: #d1c4e9;
}

#wrap {
  width: 1000px;
  height: 900;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

#side {
  line-height: 900px;
  float: left;
  width: 300px;
  height: 900px;
  background-color: #4527a0;
}

#header {
  line-height: 300px;
  float: left;
  width: 700px;
  height: 300px;
  background-color: #512da8;
}

#contents {
  line-height: 300px;
  float: left;
  width: 700px;
  height: 300px;
  background-color: #5e35b1;
}

#footer {
  line-height: 300px;
  float: left;
  width: 700px;
  height: 300px;
  background-color: #673ab7;
}
