/*초기화*/
* {
  margin: 0;
  padding: 0;
}
/*전체 레이아웃*/
#wrap {
  font-size: 40px;
  text-align: center;
  color: white;
  height: 140px;
  background-color: #f111;
}

#header {
  height: 140px;
  background: #f111;
}

#banner {
  line-height: 450px;
  height: 450px;
  background-color: #4dd0e1;
}

#contents {
  height: 950px;
  background-color: #f333;
}

#footer {
  height: 220px;
  background-color: #f444;
}
/*하위 레이아웃*/
#header-top {
  line-height: 70px;
  height: 70px;
  background: #b2ebf2;
}

#header-nav {
  line-height: 70px;
  height: 70px;
  background: #80deea;
}

#content1 {
  line-height: 90px;
  height: 90px;
  background-color: #26c6da;
}

#content2 {
  line-height: 480px;
  height: 480px;
  background-color: #00bcd4;
}

#content3 {
  line-height: 380px;
  height: 380px;
  background-color: #00acc1;
}

#footer-nav {
  line-height: 60px;
  height: 60px;
  background-color: #0097a7;
}

#footer-info {
  line-height: 160px;
  height: 160px;
  background-color: #00838f;
}
/*container*/
.container {
  margin: 0 auto;
  width: 1100px;
  height: inherit;
  background: rgba(0, 0, 0, 0.3);
}
